[submodule "Core/Lib/micro-libs"]
	path = Core/Lib/micro-libs
	url = git@github.com:eagletrt/micro-libs.git
	branch = master
[submodule "Core/Lib/can-lib"]
	path = Core/Lib/can
	url = git@github.com:eagletrt/can.git
	branch = build-evo
[submodule "Core/Lib/invlib"]
	path = Core/Lib/invlib
	url = git@github.com:eagletrt/invlib.git
